@import "https://fonts.googleapis.com/css?family=Catamaran";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    overflow: hidden;
}

body {
    background: #006400;
}

#container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

svg {
    z-index: 10;
    -webkit-backface-visibility: hidden;
}